# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw

######### JS ignore #########
src/styles.js
src/index.css
hoc/
src/components/Contacttt.jsx

# ignore ".trash" directory
/.trash

# Ignore the ".obsidian" folder
/.obsidian

# Ignore .DS_Store files
.DS_Store
###############################
